
/* ==========================================================================
   Base styles
   ========================================================================== */

/*@font-face {
  font-family: 'lanenar';
  src: url('../fonts/LANENAR_.ttf') format('truetype');
}
*/
html {
  color: #000;
  font-family: Optima, "Helvetica Neue";
  font-size: 1em;
}

a {
  color: rgb(132, 0, 44);
  text-decoration: none;
  border-bottom:1px dashed rgba(132, 0, 44, 0.2);
  display: inline;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  border-bottom:1px solid;
}

p {
  webkit-margin: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  margin-bottom: 0.1em;
}

/* ==========================================================================
   Site
   ========================================================================== */

.hemingway--banner {
  height: 180px;
  width: 100%;
  background: url('../hemingway/images/thirteen_authors.jpeg') repeat-x;
  background-position:top center;
  background-size: 80em;
}

.hemingway--header {
  margin 0;
  font-size: 2.8em;
}

.hemingway--page-header {
  margin: 0 0 0 1em;
  font-size: 2em;
}

.hemingway--author {
  font-size: 1.8em;
}

.hemingway--credits {
  font-size: 1.3em;
  margin-bottom: 0.1em;
}

.hemingway--quote {
  font-size: 1em;
  margin-bottom: 0.1em;
  font-style: italic;
}

.hemingway--sub-header {
  text-align: left;
  font-size: 1.5em;
}

.hemingway--note {
  margin: 3em 1em;
  font-weight: normal;
  font-size: 1.5em;
  text-align: right;
}

.hemingway--annotation {
  margin: 0 0 0 1em;
  font-weight: normal;
  font-size: 1.2em;
}

.hemingway--below-fold {
  margin-top: 4em;
}

.hemingway--below-fold .hemingway--sub-header {
  font-size: 1.6em;
}

.hemingway--horizontal-container {
  width:100%;
}

.hemingway--horizontal-container.top {
}

.hemingway--horizontal-container div {
  display: inline-block;
}

.hemingway--horizontal-half {
  margin: 0.5em 0 0.5em 5em;
  vertical-align: top;
}

.hemingway--horizontal-half.left,.hemingway--horizontal-half.foot {
  width: 46%;
}

.hemingway--horizontal-half.foot-right {
  width: 40%;
}

.hemingway--book {
  height: 15em;
  width: 30em;
}

.hemingway--cover {
  margin-top: -1em;
  height: 30em;
  width: 60em;
}

img.sample {
  width: 100%;
}

img.author {
  display:block; margin:0 auto;
  height: 10em;
}

p.author {
  display: inline-block;
  font-size: 1.7em;
  vertical-align: 4px
  /*margin-left: 50%;*/
}

table.authors {
  margin: auto;
}

.links>li {
  margin-bottom: 0.8em;
}

a.hemingway--banner {
  border: 0;
}

a.hemingway--sample {
  border: 0;
  margin: 0 10px 0 0;
}

.hemingway--sample>img{
  max-width: 24em;
  border: 1px solid;
}

div.hemingway--sample {
  margin-top: 0.5em;
}

/* ==========================================================================
   Mobile
   ========================================================================== */

body.mobile .top .right,
body.mobile .bottom .left {
  display: none;
}

body.mobile .top .left,
body.mobile .bottom .right {
  width: 100%;
  text-align: center;
  margin: 0;
}

body.mobile .foot,
body.mobile .foot-right {
  width: 96%;
  margin-left: 2%;
}

body.mobile .hemingway--below-fold left {
  margin-top: 2em;
  text-align: left;
}

body.mobile hemingway--quote {
  text-align: left;
}

body.mobile .hemingway--page-header {
  margin: -0.3em 0 0.8em 1em;
  font-size: 1.5em;
}

body.mobile .top {
  margin-bottom: 1em;
}

body.mobile imgs.author {
  height: 5em;
}

body.mobile p.author {
  font-size: 1em;
}

body.mobile .hemingway--sample>img {
  max-width: 8em;
}







