
/* ==========================================================================
   Base styles
   ========================================================================== */

@font-face {
  font-family: 'andale-mono';
  src: url('../fonts/andale-mono.ttf') format('truetype');
}

html {

}

body.home {
  color: #000;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-size: 1em;
  line-height: 1.5;
  background-image: url('../images/knitting.png');
}

body.knitting {
  background-image: url('../images/knitting.png');
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.bold {
  font-weight: bold;
}

.big {
  font-size: 1.3em;
}

a {
  text-decoration: none;
}

a.black {
  color: #000;
}

a.text:hover,
a.text:focus,
a.text:active {
  text-decoration: underline;
}


img.icon:hover {
  opacity: 0.7;
}

img.icon {
  height: 4em;
  width: 4em;
}

ul {
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*ul a {
  display: block;
}*/

h1,
h2,
h3,
h4 {
  margin-top: 0;
  line-height: 1.2;
}

.centered-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered-text {
  text-align: center;
}

.left-align-centered-text {
  text-align: left;
  margin-left: 40%
}

.img-anchor,
.img-anchor:hover,
.img-anchor:focus,
.img-anchor:active {
  border: 0;
}

td.center {
  text-align: center;
/*  border: 1px solid black*/
}

/* ==========================================================================
   Site
   ========================================================================== */

.container {
  overflow: auto;
  padding: 0;
  margin: 0 auto;
}

.site-header {
  padding: 0 2.5em 2.5em;
  margin: 2.5em -1.25em;
  border-radius: 4px;
  text-align: center;
}

.site-title {
  margin-bottom: 0.3em;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1.2;
}

.site-list-links {
  margin-bottom: 0.5em;
/*  white-space: nowrap;*/
  font-size: 1.5em;
  font-weight: normal;
}

.site-main img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

.site-footer {
  margin-top: 3em;
}

.site-footer p {
  color: #777;
  font-size: 0.875em;
}

.ital {
  font-style: italic;
}

/* ==========================================================================
   Buttons (based on github.com/necolas/suit-button)
   ========================================================================== */

.btn {
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.75em 1.5em;
  border: 1px solid #0288b9;
  margin: 0;
  background: #0097cf;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:hover,
.btn:focus,
.btn:active {
  background: #04a2dd;
  text-decoration: none;
}

.btn:active {
  background: #03739c;
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

