
/* ==========================================================================
   Base styles
   ========================================================================== */

@font-face {
  font-family: 'andale mono';
  src: url('../fonts/andale-mono.ttf') format('truetype');
}

html {
  color: #222;
  font-family: 'andale mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a {
/*  color: #06b;*/
  color: #000;
  text-decoration: none;
}

a.text:hover,
a.text:focus,
a.text:active {
  text-decoration: underline;
}

ul {
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul a {
  display: block;
}

img.icon {
  height: 4em;
  width: 4em;
}

h2,
h3,
h4 {
  margin-top: 3em;
  line-height: 1.2;
}

p {
  margin: 1.5em 0;
}

/* ==========================================================================
   Site
   ========================================================================== */

.container {
  padding: 0 1.25em;
  margin: 0 auto;
}

.site-header {
  padding: 0 25% 25%;
  margin: 2.5em -1.25em;
  border-radius: 4px;
  text-align: center;
}

.site-title {
  margin-bottom: 0.3em;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1.2;
}

.site-list-links {
  margin-bottom: 0.5em;
/*  white-space: nowrap;*/
  font-size: 1.5em;
  font-weight: normal;
}

.site-main img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

.site-footer {
  margin-top: 3em;
}

.site-footer p {
  color: #777;
  font-size: 0.875em;
}

/* ==========================================================================
   Buttons (based on github.com/necolas/suit-button)
   ========================================================================== */

.btn {
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.75em 1.5em;
  border: 1px solid #0288b9;
  margin: 0;
  background: #0097cf;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:hover,
.btn:focus,
.btn:active {
  background: #04a2dd;
  text-decoration: none;
}

.btn:active {
  background: #03739c;
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

